:root {
  --charcoal: #36454f;
  --bone: #f4e6d2;
  --white: #fff;
  --dark: #011f4b;
  --navy: #03396c;
  --royal: #005b96;
  --turq: #6497b1;
  --light: #b3cde0;
  --gray: #d2d2cf;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: var(--white);
  text-align: center;
}

th {
  background-color: var(--charcoal);
  color: var(--white);
}

a {
  text-decoration: none;
}

td {
  background-color: var(--gray);
  color: var(--dark);
}

.centered-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.leaderboard {
  background-color: var(--charcoal);
  color: var(--white);
}

.giphyImage {
  margin: 1rem;
  width: 200px;
  height: auto;
}

.container {
  align-content: center;
}

.bg-leaderboard {
  background: url("../images/bg-leaderboard.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.bg-home {
  background: url("../images/bg-home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.score-card {
  display: flex;
  flex-direction: column;
  background: rgba(24, 24, 27, 0.8);
  color: var(--light);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid var(--white);
  font-size: 20px;
}

.hidden {
  display: none;
}

#play-again {
  background-color: var(--charcoal);
  color: var(--white);
}

#start-btn {
  background-color: var(--charcoal);
  color: var(--white);
}

#timer-element {
  display: none;
  flex-direction: column;
  background: rgba(24, 24, 27, 0.8);
  color: var(--light);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--white);
  font-size: 20px;
}

#userGuess {
  display: none;
  flex-direction: column;
  background: rgba(24, 24, 27);
  color: var(--light);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--white);
  font-size: 20px;
}

#top-container {
  height: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  background: rgba(24, 24, 27);
  color: var(--light);
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid var(--white);
  font-size: 20px;
}

#start-message {
  display: flex;
  flex-direction: column;
  background: rgb(123, 202, 91);
  color: var(--white);
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid var(--white);
  font-size: 20px;
}

#final-username {
  display: flex;
  flex-direction: column;
  background: rgba(24, 24, 27);
  color: var(--light);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--white);
  font-size: 20px;
}

#leaderboard-button {
  background-color: var(--charcoal);
  color: var(--white);
}

#lb-save-btn {
  background-color: var(--charcoal);
  color: var(--white);
}

@media screen and (max-width: 1000px) {
  #scroll {
    overflow-y: scroll;
  }
}